In [1]:
A=2

In [4]:
## Declaire and Assigning Variables 

age = 23
height = 5.10
name = "Ansh"
is_Student = True

## Printing the Variable

print("age:",age)
print("height:",height)
print("name :",name)

age: 23
height: 5.1
name : Ansh

In [5]:
## Naming Conventions
## Variables name Should be descriptive
## they must start with a letter  or an '_'  and contain letter, numbers and underscores
## Variables names are case sensitive

## valid variable name 

firts_name = "Ansh"
last_name = "Verma"

In [8]:
# Invalid variable name 
# 2age=30
#firts-name="ansh"
#@name="Ansh"

In [10]:
## case sensitivity
name = "ansh"
Name = "verma"

name==Name

False

In [11]:
## Understanding Variables types
## Python is dyna,ically typed,type of a variable is determined at runtime

age = 25 #int 
name = "Ansh" #str
height = 10.55
is_Student  = True #boolean 

print(type(age))

<class 'int'>

In [12]:
print(type(name))

<class 'str'>

In [13]:
age = 25
print(type(age))

# type conversion 
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [14]:
age = '25'
print(type(int(age)))

<class 'int'>

In [15]:
## Dynamic  Typing
## Python allows the type of a variable to change as the Program Executes

var = 10 #int
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [16]:
## input 

age = int(input("What is a age"))
print(age,type(age))

25 <class 'int'>

In [17]:
### Simple Calculater 

num1 = float(input("Enter the first number :"))
num2 = float(input ("Enetr the second number :"))

sum  = num1 + num2
differnce = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("sum:",sum)
print("differnce:",differnce)
print("product:",product)
print("quotient:",quotient)

sum: 77.0
differnce: 27.0
product: 1300.0
quotient: 2.08